[submodule "pecha_preparation_components/catalog_parser/third_party/leavedonto"]
	path = pecha_preparation_components/catalog_parser/third_party/leavedonto
	url = https://github.com/Esukhia/leavedonto.git
